@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a0a0a;
    color: white;
    overflow-x: hidden;
}
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.animate-float {
    animation: float 6s ease-in-out infinite;
}